@import "common/var";

@font-face {
  font-family: 'element-icons';
  src: url('#{$--font-path}/element-icons.woff') format('woff'), /* chrome, firefox */
       url('#{$--font-path}/element-icons.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}

[class^="el-icon-"], [class*=" el-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'element-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-mobile-phone:before {
  content: "\e024";
}

.el-icon-key:before {
  content: "\e030";
}

.el-icon-unlock:before {
  content: "\e032";
}

.el-icon-lock:before {
  content: "\e033";
}

.el-icon-map-location:before {
  content: "\e03e";
}

.el-icon-location-information:before {
  content: "\e03f";
}

.el-icon-location-outline:before {
  content: "\e040";
}

.el-icon-location:before {
  content: "\e0ae";
}

.el-icon-place:before {
  content: "\e041";
}

.el-icon-discover:before {
  content: "\e042";
}

.el-icon-first-aid-kit:before {
  content: "\e043";
}

.el-icon-trophy-1:before {
  content: "\e044";
}

.el-icon-trophy:before {
  content: "\e045";
}

.el-icon-medal:before {
  content: "\e046";
}

// .el-icon-medal-1:before {
//   content: "\";
// }

.el-icon-stopwatch:before {
  content: "\e047";
}

.el-icon-copy-document:before {
  content: "\e049";
}

.el-icon-full-screen:before {
  content: "\e04a";
}

.el-icon-switch-button:before {
  content: "\e04b";
}

.el-icon-aim:before {
  content: "\e04c";
}

.el-icon-crop:before {
  content: "\e04d";
}

.el-icon-odometer:before {
  content: "\e04e";
}

.el-icon-time:before {
  content: "\e04f";
}

.el-icon-bangzhu:before {
  content: "\e053";
}

.el-icon-close-notification:before {
  content: "\e055";
}

.el-icon-microphone:before {
  content: "\e056";
}

.el-icon-turn-off-microphone:before {
  content: "\e057";
}

.el-icon-position:before {
  content: "\e058";
}

.el-icon-message:before {
  content: "\e059";
}

.el-icon-chat-line-square:before {
  content: "\e05a";
}

.el-icon-chat-dot-square:before {
  content: "\e05b";
}

.el-icon-chat-dot-round:before {
  content: "\e05c";
}

.el-icon-chat-square:before {
  content: "\e05d";
}

.el-icon-chat-line-round:before {
  content: "\e05e";
}

.el-icon-chat-round:before {
  content: "\e05f";
}

.el-icon-set-up:before {
  content: "\e060";
}

.el-icon-turn-off:before {
  content: "\e061";
}

.el-icon-open:before {
  content: "\e062";
}

.el-icon-connection:before {
  content: "\e063";
}

.el-icon-link:before {
  content: "\e064";
}

.el-icon-cpu:before {
  content: "\e065";
}

.el-icon-thumb:before {
  content: "\e066";
}

.el-icon-guide:before {
  content: "\e067";
}

.el-icon-news:before {
  content: "\e069";
}

.el-icon-price-tag:before {
  content: "\e06a";
}

.el-icon-discount:before {
  content: "\e06b";
}

.el-icon-coin:before {
  content: "\e06c";
}

.el-icon-money:before {
  content: "\e06d";
}

.el-icon-bank-card:before {
  content: "\e06e";
}

.el-icon-box:before {
  content: "\e06f";
}

.el-icon-house:before {
  content: "\e070";
}

.el-icon-office-building:before {
  content: "\e071";
}

.el-icon-notebook-2:before {
  content: "\e072";
}

.el-icon-notebook-1:before {
  content: "\e073";
}

.el-icon-files:before {
  content: "\e074";
}

.el-icon-collection:before {
  content: "\e075";
}

.el-icon-receiving:before {
  content: "\e076";
}

.el-icon-collection-tag:before {
  content: "\e07a";
}

.el-icon-data-analysis:before {
  content: "\e07b";
}

.el-icon-pie-chart:before {
  content: "\e07c";
}

.el-icon-data-board:before {
  content: "\e07d";
}

.el-icon-data-line:before {
  content: "\e081";
}

.el-icon-reading:before {
  content: "\e07e";
}

// .el-icon-magic-stick:before {
//   content: "\e76a";
// }

.el-icon-coordinate:before {
  content: "\e07F";
}

.el-icon-mouse:before {
  content: "\e080";
}

.el-icon-headset:before {
  content: "\e082";
}

.el-icon-scissors:before {
  content: "\e083";
}

.el-icon-mobile:before {
  content: "\e084";
}

.el-icon-attract:before {
  content: "\e085";
}

.el-icon-monitor:before {
  content: "\e086";
}

.el-icon-search:before {
  content: "\e089";
}

.el-icon-takeaway-box:before {
  content: "\e08b";
}

.el-icon-paperclip:before {
  content: "\e08e";
}

.el-icon-printer:before {
  content: "\e08f";
}

.el-icon-document-add:before {
  content: "\e093";
}

.el-icon-document:before {
  content: "\e096";
}

.el-icon-document-checked:before {
  content: "\e097";
}

.el-icon-document-copy:before {
  content: "\e098";
}

.el-icon-document-delete:before {
  content: "\e099";
}

.el-icon-document-remove:before {
  content: "\e09a";
}

.el-icon-tickets:before {
  content: "\e09c";
}

.el-icon-folder-checked:before {
  content: "\e090";
}

.el-icon-folder-delete:before {
  content: "\e091";
}

.el-icon-folder-remove:before {
  content: "\e092";
}

.el-icon-folder-add:before {
  content: "\e094";
}

.el-icon-folder-opened:before {
  content: "\e095";
}

.el-icon-folder:before {
  content: "\e09b";
}

.el-icon-edit-outline:before {
  content: "\e079";
}

.el-icon-edit:before {
  content: "\e09d";
}

.el-icon-date:before {
  content: "\e09f";
}

.el-icon-c-scale-to-original:before {
  content: "\e0d1";
}

.el-icon-view:before {
  content: "\e01f";
}

.el-icon-sunny:before {
  content: "\e02f";
}

.el-icon-loading:before {
  content: "\e020";
}

.el-icon-rank:before {
  content: "\e022";
}

.el-icon-sort-down:before {
  content: "\e0cf";
}

.el-icon-sort-up:before {
  content: "\e0d0";
}

.el-icon-sort:before {
  content: "\e023";
}

.el-icon-finished:before {
  content: "\e01e";
}

.el-icon-refresh-left:before {
  content: "\e6c7";
}

.el-icon-refresh-right:before {
  content: "\e019";
}

.el-icon-refresh:before {
  content: "\e021";
}

.el-icon-video-play:before {
  content: "\e0cc";
}

.el-icon-video-pause:before {
  content: "\e0cd";
}

.el-icon-d-arrow-right:before {
  content: "\e02a";
}

.el-icon-d-arrow-left:before {
  content: "\e02b";
}

.el-icon-arrow-up:before {
  content: "\e02f";
}

.el-icon-arrow-down:before {
  content: "\e02d";
}

.el-icon-arrow-right:before {
  content: "\e02e";
}

.el-icon-arrow-left:before {
  content: "\e02c";
}

.el-icon-top-right:before {
  content: "\e035";
}

.el-icon-top-left:before {
  content: "\e036";
}

.el-icon-top:before {
  content: "\e034";
}

.el-icon-bottom:before {
  content: "\e039";
}

.el-icon-right:before {
  content: "\e037";
}

.el-icon-back:before {
  content: "\e038";
}

.el-icon-bottom-right:before {
  content: "\e03a";
}

.el-icon-bottom-left:before {
  content: "\e03b";
}

.el-icon-caret-top:before {
  content: "\e0a0";
}

.el-icon-caret-bottom:before {
  content: "\e0a1";
}

.el-icon-caret-right:before {
  content: "\e0a2";
}

.el-icon-caret-left:before {
  content: "\e0a3";
}

.el-icon-d-caret:before {
  content: "\e0aa";
}

.el-icon-share:before {
  content: "\e0a4";
}

.el-icon-menu:before {
  content: "\e0a8";
}

.el-icon-s-grid:before {
  content: "\e0b6";
}

.el-icon-s-check:before {
  content: "\e0b7";
}

.el-icon-s-data:before {
  content: "\e0b8";
}

.el-icon-s-opportunity:before {
  content: "\e0ba";
}

.el-icon-s-custom:before {
  content: "\e0bb";
}

.el-icon-s-claim:before {
  content: "\e0bd";
}

.el-icon-s-comment:before {
  content: "\e0be";
}

.el-icon-s-flag:before {
  content: "\e0bf";
}

.el-icon-s-marketing:before {
  content: "\e0c0";
}

// .el-icon-s-shop:before {
//   content: "\e7b4";
// }

// .el-icon-s-open:before {
//   content: "\e7b5";
// }

.el-icon-s-management:before {
  content: "\e0c3";
}

.el-icon-s-ticket:before {
  content: "\e0c4";
}

.el-icon-s-release:before {
  content: "\e0c5";
}

.el-icon-s-home:before {
  content: "\e0c6";
}

.el-icon-s-promotion:before {
  content: "\e0c7";
}

.el-icon-s-operation:before {
  content: "\e0c8";
}

.el-icon-s-unfold:before {
  content: "\e0c9";
}

.el-icon-s-fold:before {
  content: "\e0b9";
}

.el-icon-s-platform:before {
  content: "\e0ca";
}

.el-icon-s-order:before {
  content: "\e0cb";
}

// .el-icon-s-cooperation:before {
//   content: "\e7bf";
// }

.el-icon-bell:before {
  content: "\e054";
}

.el-icon-message-solid:before {
  content: "\e0a9";
}

// .el-icon-video-camera:before {
//   content: "\e772";
// }

// .el-icon-video-camera-solid:before {
//   content: "\e796";
// }

.el-icon-camera:before {
  content: "\e08a";
}

.el-icon-camera-solid:before {
  content: "\e0ab";
}

.el-icon-download:before {
  content: "\e08d";
}

.el-icon-upload2:before {
  content: "\e08c";
}

.el-icon-upload:before {
  content: "\e0ce";
}

.el-icon-picture-outline-round:before {
  content: "\e078";
}

.el-icon-picture-outline:before {
  content: "\e077";
}

.el-icon-picture:before {
  content: "\e0af";
}

.el-icon-close:before {
  content: "\e029";
}

.el-icon-check:before {
  content: "\e028";
}

.el-icon-plus:before {
  content: "\e027";
}

.el-icon-minus:before {
  content: "\e026";
}

.el-icon-help:before {
  content: "\e068";
}

.el-icon-s-help:before {
  content: "\e0c1";
}

.el-icon-circle-close:before {
  content: "\e09e";
}

.el-icon-circle-check:before {
  content: "\e050";
}

.el-icon-circle-plus-outline:before {
  content: "\e052";
}

.el-icon-remove-outline:before {
  content: "\e051";
}

.el-icon-zoom-out:before {
  content: "\e087";
}

.el-icon-zoom-in:before {
  content: "\e088";
}

.el-icon-error:before {
  content: "\e0ad";
}

.el-icon-success:before {
  content: "\e0ac";
}

.el-icon-circle-plus:before {
  content: "\e0b0";
}

.el-icon-remove:before {
  content: "\e0b2";
}

.el-icon-info:before {
  content: "\e0b1";
}

.el-icon-question:before {
  content: "\e0b4";
}

.el-icon-warning-outline:before {
  content: "\e01a";
}

.el-icon-warning:before {
  content: "\e0b3";
}

.el-icon-star-off:before {
  content: "\e048";
}

.el-icon-star-on:before {
  content: "\e0a7";
}

.el-icon-more-outline:before {
  content: "\e01d";
}

.el-icon-more:before {
  content: "\e0a5";
}

.el-icon-phone-outline:before {
  content: "\e01c";
}

.el-icon-phone:before {
  content: "\e0a6";
}

.el-icon-user:before {
  content: "\e031";
}

.el-icon-user-solid:before {
  content: "\e0b5";
}

.el-icon-setting:before {
  content: "\e01b";
}

.el-icon-s-tools:before {
  content: "\e0bc";
}

.el-icon-delete:before {
  content: "\e025";
}

.el-icon-delete-solid:before {
  content: "\e0d2";
}

.el-icon-home-page:before{
  content: "\e001";
}

.el-icon-station:before {
  content: "\e011";
}

.el-icon-substation:before {
  content: "\e009";
}

.el-icon-power-line:before {
  content: "\e00e";
}

.el-icon-alarm:before {
  content: "\e0dc";
}

.el-icon-chart:before {
  content: "\e0c2";
}

.el-icon-s-chart:before {
  content: "\e004";
}

.el-icon-knowledge-base:before {
  content: "\e012";
}

.el-icon-sys-management:before {
  content: "\e003";
}

.el-icon-log:before {
  content: "\e00f";
}

.el-icon-power:before {
  content: "\e00c";
}

.el-icon-s-power:before {
  content: "\e0db";
}

.el-icon-active-p:before {
  content: "\e016";
}

.el-icon-s-active-p:before {
  content: "\e006";
}

.el-icon-reactive-p:before {
  content: "\e018";
}

.el-icon-s-reactive-p:before {
  content: "\e0d9";
}

.el-icon-s-electricity:before {
  content: "\e007";
}

.el-icon-s-voltage:before {
  content: "\e0da";
}

.el-icon-power-factor:before {
  content: "\e00b";
}

.el-icon-s-power-factor:before {
  content: "\e017";
}

.el-icon-role:before {
  content: "\e013";
}

.el-icon-sql:before {
  content: "\e0de";
}

.el-icon-knowledge:before {
  content: "\e00a";
}

.el-icon-risk-level:before {
  content: "\e014";
}

.el-icon-panel:before {
  content: "\e0dd";
}

.el-icon-newenergy:before {
  content: "\e03c";
}

.el-icon-platform:before {
  content: "\e015";
}

.el-icon-app:before {
  content: "\e002";
}

.el-icon-tab:before {
  content: "\e00d";
}

.el-icon-config:before {
  content: "\e008";
}

.el-icon-sys-config:before {
  content: "\e005";
}

.el-icon-sys:before {
  content: "\e010";
}

.el-icon-ppt:before {
  content: "\e0d3";
}

.el-icon-word:before {
  content: "\e0d4";
}

.el-icon-excel:before {
  content: "\e0d5";
}

.el-icon-pdf:before {
  content: "\e0d8";
}

.el-icon-jpg:before {
  content: "\e0d6";
}

.el-icon-png:before {
  content: "\e0d7";
}

.el-icon-loading {
  animation: rotating 2s linear infinite;
}

.el-icon--right {
  margin-left: 5px;
}
.el-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
