@import "mixins/mixins";
@import "common/var";

@include b(splitter-bar) {
  background: #ccc;

  /* 垂直分割条（左右拖） */
  @include m(vertical) {
    width: 5px;

    @include when(drag-locked) {
      cursor: default;
      background: #eee;
    }
    /* size == min，不能再小，只能往右拖（增大） */
    @include when(drag-min-limit) {
      cursor: e-resize;
    }
    /* size == max，不能再大，只能往左拖（减小） */
    @include when(drag-max-limit) {
      cursor: w-resize;
    }
    @include when(drag-normal) {
      cursor: col-resize;
    }
  }

  /* 水平分割条（上下拖） */
  @include m(horizontal) {
    height: 5px;

    @include when(drag-locked) {
      cursor: default;
      background: #eee;
    }
    /* size == min，不能再小（高度不能再小），只能往下拖（增大） */
    @include when(drag-min-limit) {
      cursor: s-resize;
    }
    /* size == max，不能再大，只能往上拖（减小） */
    @include when(drag-max-limit) {
      cursor: n-resize;
    }
    @include when(drag-normal) {
      cursor: row-resize;
    }
  }
}
