@import "mixins/mixins";
@import "common/var";

@include b(splitter) {
  display: flex;
  width: 100%;

  @include m(vertical) {
    flex-direction: row;
  }

  @include m(horizontal) {
    flex-direction: column;
    height: 100%;
  }
}
